/* 
CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clear fix */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
 
.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

/* style */
body {
    background: rgb(0,51,18);
    background: linear-gradient(90deg, rgba(0,51,18,1) 0%, rgba(0,0,0,1) 51%, rgba(37,0,0,1) 100%);
    height: 100vh;
    overflow: hidden;
    font-family: monospace;
}

/* main */
main {
    width: 700px;
    height: 400px;
    margin: 13% auto;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    transition:3s ease-in-out;
}
main:hover {
    animation: shadowColorChange 10s infinite;
}

/* article bagian 1 */
.b1 {
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
}
img.gambar1 {
    width:  80%;
    height: 80%;
    margin-top: 10%;
}

/* article bagian 2 */
.b2 {
    width: 50%;
    height: 100%;
    float: right;
}
img.gambar2 {
    width: 160px;
    height: 70px;
}
h1 {
    font-weight: bold;
    font-size: 40px;
}
p {
    font-size: 11px;
    margin-top: 10px;
}
input {
    margin-top: 20px;
    width: 80%;
}
button {
    float: right;
    margin: 30px 20% 0 0;
    width: 80px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 470px;
    background-color: #30B14D;
    border: 0px;
    color: white;
}

/* animasi */
@keyframes shadowColorChange {
    0% {
        box-shadow: 0 4px 500px rgba(44, 0, 0, 0.5);
    }
    20% {
        box-shadow: 0 4px 500px rgba(255, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0 4px 500px rgba(0, 0, 0, 0.5);
    }
    70% {
        box-shadow: 0 4px 500px rgba(0, 255, 0, 0.5);
    }
    90% {
        box-shadow: 0 4px 500px rgba(0, 84, 0, 0.5);
    }
    100% {
        box-shadow: 0 4px 500px rgba(0, 0, 0, 0.5);
    }
}