/* 
CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Reset CSS */
/* Mengatur ulang elemen umum */
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mengatur ulang gaya tabel */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Mengatur ulang daftar */
ul, ol {
    list-style: none;
}

/* Mengatur ulang gambar */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Mengatur ulang link */
a {
    text-decoration: none;
    color: inherit;
}

/* Mengatur ulang elemen form */
input, button, textarea, select {
    font: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

/* Mengatur ulang elemen figure */
figure {
    margin: 0;
    padding: 0;
}

/* clear fix */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
 
.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

/* Semantik */
body {
    line-height: 1;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a.decoration {
    text-decoration: underline;
}

/* Style for header */
header {
    width: 100%;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
}
img.logo {
    width: 80px;
    height: 50px;
    margin-left: 5%;
    float: left;
}
/* navbar */
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    float: right;
    margin-right: 30%;
}


main {
    padding: 125px 20px 90px 20px;
    background-color: rgb(0, 0, 0);
}

.article1-resource {
    text-align: center;
}

.article1-sec1-resource, .article1-sec2-resource, .article1-sec3-resource {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article1-sec1-resource {
    font-size: 90px;
    height: 315px;
    background-color: rgb(17, 97, 70);
}

.article1-sec2-resource {
    font-size: 35px;
    height: 155px;
    background-color: rgb(139, 85, 19);
}

.article1-sec3-resource {
    font-size: 18px;
    height: 175px;
    background-color: rgb(9, 59, 106);
}
.article1-h1 {
    font-weight: 800;
}
.article1-h2 {
    font-weight: 600;
}
.article1-button-resource {
    width: 285px;
    height: 55px;
    font-weight: normal;
    background-color: #00CF9D;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    cursor: pointer;
    text-align: center
}