/* 
CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Reset CSS */
/* Mengatur ulang elemen umum */
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mengatur ulang gaya tabel */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Mengatur ulang daftar */
ul, ol {
    list-style: none;
}

/* Mengatur ulang gambar */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Mengatur ulang link */
a {
    text-decoration: none;
    color: inherit;
}

/* Mengatur ulang elemen form */
input, button, textarea, select {
    font: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

/* Mengatur ulang elemen figure */
figure {
    margin: 0;
    padding: 0;
}

/* Semantik */
body {
    line-height: 1;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* Style for header */
header {
    color: white !important;
    background-color: rgb(0, 0, 0);
}

.header-container-resource {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

/* Style for logo container */
.logo-container-resource {
    width: 45%;
    align-items: center;
    display: flex;
    justify-content: left;
    background-color: rgb(22, 22, 136);
}
.logo-resource {
	margin-left: 30px;
    background-color: rgb(66, 38, 4);
}


/* Style for menu container */
.menu-container-resource {
    width: 55%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: blue;

}
.menu-container-resource .menu-resource ul li a{
    color: white !important;
    text-decoration: none;
}

.menu-resource ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu-resource li {
    color: rgb(81, 7, 7) !important;
    font-size: 25px;
    margin-right: 50px;
    font-weight: 400px;
}
.menu-resource ul li:nth-child(3){
    font-weight: bolder;
    text-decoration: underline !important;
}

main {
    padding: 125px 20px 90px 20px;
    background-color: antiquewhite;
}

.article1-resource {
    text-align: center;
}

.article1-sec1-resource, .article1-sec2-resource, .article1-sec3-resource {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article1-sec1-resource {
    font-size: 90px;
    height: 315px;
    background-color: rgb(17, 97, 70);
}

.article1-sec2-resource {
    font-size: 35px;
    height: 155px;
    background-color: rgb(139, 85, 19);
}

.article1-sec3-resource {
    font-size: 18px;
    height: 175px;
    background-color: rgb(9, 59, 106);
}
.article1-h1 {
    font-weight: 800;
}
.article1-h2 {
    font-weight: 600;
}
.article1-button-resource {
    width: 285px;
    height: 55px;
    font-weight: normal;
    background-color: #00CF9D;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    cursor: pointer;
    text-align: center
}

/* Artikel 2 */
.article2-resource {
    padding: 55px 20px;
    background-color: antiquewhite;
    text-align: center;
}

.article2-section-resource {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 20px;
}

.box {
    background-color: #f0f0f0; /* Warna latar kotak */
    height: 560px;
    margin-bottom: 35px; /* Jarak antar kotak vertikal */
    flex: 1 0 calc(33.333% - 35px); /* Lebar kotak dengan margin horizontal */
    max-width: calc(33.333% - 35px); /* Lebar maksimum kotak */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-right: 35px; /* Jarak antar kotak horizontal */
    border: 1px solid #ccc; /* Atur border sesuai kebutuhan */
}

/* Menghilangkan margin kanan dari kotak pada akhir baris */
.article2-section-resource .box:nth-child(3n) {
    margin-right: 0;
}
