/* 
CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clear fix */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
 
.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}



/* style */
body {
    background: rgb(0,51,18);
    background: linear-gradient(90deg, rgba(0,51,18,1) 0%, rgba(0,0,0,1) 51%, rgba(37,0,0,1) 100%);
	font-family: monospace;
}

hr {
	margin: 200px auto 50px;
	width: 80%;
	height: 5px;
	border-radius: 100%;
	border-color: green;
}

/* Header */
header img {
	float: left;
}
.logo {
	margin-left: 30px;
}
header ul li{
	float: right;
}
header ul li .gambar-2 {
	margin-top: 30px;
}
.gambar-2 {
	width: 150px;
}

/* section-1 */
.section-1 {
	max-width: 100%;
	max-height: 50%;
	color: white;
	text-align: center;
	font-family: monospace;
}
.section-1 h1, h2 {
	font-weight: bold;
}
.section-1 h1 {
	font-size: 55px;
	margin-top: 3%;
}
.section-1 h2 {
	font-size: 50px;
	margin-top: 5px;
	color: rgb(0, 255, 0);
}
.section-1 h3 {
	margin-top: 5px;
	font-size: 15px;
}
.section-1 img {
	margin-top: 28px;
	width: 40%;
}

/* section line */
.section-line {
	margin-top: 70px;
	text-align: center;
	margin-bottom: 10px;
}
.section-line a img {
	width: 125px;
}
.line-1 {
	width: 500px;
	float: left;
	background-color: black;
}
.line-2 {
	width: 500px;
	float: right;
	background-color: black;
}
.line-1, .line-2 {
	margin-top: 15px;
}

/* section 2 */
.section-2 {
	width: 800px;
	height: 900px;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
}
.judul {
	color: white;
	text-align: center;
	padding: 30px 0;
	font-size: 30px;
}
.line {
	margin: auto;
	width: 100px;
}
.bagian-1-and-3, .bagian-2, .bagian-3 {
	width: 100%;
    height: 270px;
    padding: 10px;
	box-sizing: border-box;
}
/* bagian 1 */
.tulisan-1-and-3 {
	width: 40%;
	padding: 0 0 0 20px;
	font-size: 15px;
	line-height: 20px;
	color: white;
	float: left;
}
.tulisan-1-and-3 span {
	color: rgb(0, 255, 0);
}
.bagian-1-and-3 img {
	float: right;
	width: 250px;
	margin-right: 10%;
}

/* bagian-2 */
.bagian-2 img {
	float: left;
	width: 250px;
	margin-left: 10%;
}
.tulisan-2 {
	width: 40%;
	padding: 0 0 0 20px;
	font-size: 15px;
	line-height: 20px;
	color: white;
	float: right;
}
.tulisan-2 span {
	color: rgb(0, 255, 0);
}

/* section-3 */
.section-3 {
	width: 100%;
	height: 850px;
	color: white;
	margin-bottom: -50px;
}
.sec3-b1 {
	width: 100%;
	height: 350px;
	box-sizing: border-box;
	font-weight: bold;
}
.s3-b1 {
	height: 200px;
	width: 100%;
	margin: auto;
	text-align: center;
}
.s3-b1 h1 {
	font-size: 35px;
}
.s3-b1 h2 {
	font-size: 30px;
	color: rgb(113, 255, 113);
}


.sec3-b2 {
	width: 100%;
	height: 500px;
}
.s3-b2 {
	width: 49%;
	height: 350px;
	float: left;
	padding: 40px;
	box-sizing: border-box;
}
.s3-b2 p {
	font-size: 20px;
	line-height: 55px;
	margin-left: 30px;
}
.s3-b2 span{
	color: rgb(115, 230, 115);
}
.s3-b3 img {
	text-align: center;
	margin-left: 10%;
	margin-top: -50px;
	width: 400px;
	height: 400px;
}


/* section 4 */
.section-4 { 
	text-align: center;
	margin: auto;
	color: white;
}
.section-4 h1 {
	font-size: 40px;
}
.section-4 h2 {
	font-size: 30px;
}
.section-4 img{
	margin: 50px 25px 0 25px;
	width: 400px;
}
.x1 {
	height: 450px;
	transition: .5s;
}
.x2 {
	height: 475px;
	transition: .5s;
}
.x1:hover {
	width: 450px;
	height: 500px;
	transform: translateY(-10px);
	box-shadow: 10px 60px 60px -40px rgba(221, 0, 255, 0.297);
}
.x2:hover {
	width: 450px;
	height: 525px;
	transform: translateY(-10px);
	box-shadow: 10px 60px 60px -40px rgba(221, 0, 255, 0.386);
}
.section-4 p {
	margin: 150px auto -100px auto;
	width: max-content;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(51, 251, 51);
}
.section-4 a {
	font-weight: bold;
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.section-4 a span {
	font-weight: bold;
	filter: blur(1px);
}

/* section 5 */
.section-5 {
	color: white;
	text-align: center;
}
.section-5 h1 {
	font-size: 40px;
	margin: 100px 0;
}
.section-5 img {
	width: 80%;
}
.section-5 a h4 {
	margin: 10px auto;
	width: max-content;
	padding: 10px;
	border-radius: 5px;
	background: rgb(0,255,133);
	background: linear-gradient(90deg, rgba(0,255,133,1) 0%, rgba(118,255,176,1) 51%, rgba(0,255,133,1) 100%);
}
.section-5 a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-size: 20px;
}
.section-5 a span {
	font-weight: bold;
	filter: blur(1px);
}

/* footer */
footer {
	margin-top: 100px;
	height: 400px;
	box-sizing: border-box;
	background: rgb(0,42,22);
	background: linear-gradient(90deg, rgba(0,42,22,0.8963234952183998) 0%, rgba(0,0,0,0.949544783733806) 51%, rgba(27,0,0,0.8851190134256828) 100%);
	color: aliceblue;
}
.about {
	height: 300px;
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.p-1, .p-2, .p-3 {
	width: 30%;
	height: 300px;
	padding: 20px;
	box-sizing: border-box;
}
.p-1 img {
	width: 200px;
	height: 120px;
}
.p-2 h1 {
	margin-top: 15px;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}
.p-2 a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	line-height: 40px;
}
.p-3 h1 {
	margin-top: 15px;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}
.p-3 a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	line-height: 40px;
}

.copy {
	text-align: center;
	font-size: 27px;
}